* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;

}

body {
  user-select: none;
  color: #ededed;
  background: #121212;
}

.game {
  margin: 50px auto;
  width: 310px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid #2980b9;
}

.game div {
  width: 75px;
  height: 75px;
  line-height: 73px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #ededed;
  border: 1px solid #292929;
  font-family: Nunito, "Helvetica Neue", Helvetica, sans-serif;
}

.game-controls {
  width: 310px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #2980b9;
}

.game-controls button {
  transition: 0.3s;
  width: 30px;
  height: 30px;
  background: no-repeat url('./reload.svg') center/100%;
}

.game-controls button:hover {
  transform: scale(1.1);
}

.moves-counter {
  font-family: Nunito;
  font-size: 2rem;
  line-height: 3rem;
}

.timer {
  font-family: Nunito;
  font-size: 2rem;
  line-height: 3rem;
}